body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: white;
    color: black;
    background-image: url('../images/robot-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .type-carousel {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .type-carousel button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    padding: 5px 10px;
  }
  
  .type-carousel button:hover {
    background-color: #e0e0e0;
  }

  .pokemon-name {
    font-size: 38px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: capitalize;
  }
  
  .gallery {
    --size: 100px;
    display: grid;
    grid-template-columns: repeat(6, var(--size));
    grid-auto-rows: var(--size);
    margin-bottom: var(--size);
    place-items: start center;
    gap: 15px;
    
    &:has(:hover) img:not(:hover),
    &:has(:focus) img:not(:focus){
      filter: brightness(0.5) contrast(0.5);
    }
  
    & img {
      object-fit: cover;
      width: calc(var(--size) * 2);
      height: calc(var(--size) * 2);
      clip-path: path("M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z");
      transition: clip-path 0.25s, filter 0.75s;
      grid-column: auto / span 2;
      border-radius: 5px;
  
      &:nth-child(5n - 1) { 
        grid-column: 2 / span 2 
      }
  
      &:hover,
      &:focus {
        clip-path: path("M0,0 C0,0 200,0 200,0 200,0 200,100 200,100 200,100 200,200 200,200 200,200 100,200 100,200 100,200 100,200 0,200 0,200 0,100 0,100 0,100 0,100 0,100Z");
        z-index: 1;
        transition: clip-path 0.25s, filter 0.25s;
        transform: rotate(-20deg) scale(1.4);
      }
      
      &:focus {
        outline: 1px dashed black;
        outline-offset: -5px;
      }
    }
  }